body {
  width: 1440px;
  @media screen and(max-width: 375px) {
    width: 375px;
    height: 5094px;
  }
  .section__aboutUs {
    @include containerA;
    @media screen and(max-width:375px) {
      display: flex;
      flex-direction: column-reverse;
      width: 375px;
      height: 715px;
    }
    div {
      background-color: $pink;
      background-image: url("../img/rond.png");
      background-repeat: no-repeat;
      background-size: 635px 480px;
      color: $white;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      @media screen and(max-width: 375px) {
        border-radius: 0;
        height: 395px;
      }

      h1 {
        @include h1sectionT;
        @media screen and(max-width:375px) {
          width: 327px;
          height: 36px;
          text-align: center;
          margin-left: 24px;
          margin-top: 80px;
        }
      }
      p {
        @include psectionT;
        @media screen and(max-width:375px) {
          width: 327px;
          height: 175px;
          text-align: center;
          margin-left: 24px;
        }
      }
      .section__aboutUs__img {
        width: 476px;
        height: 480px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        @media screen and(max-width: 375px) {
          height: 320px;
          width: 375px;
        }
      }
    }
  }
  .section__skills {
    @include containerB;
    @media screen and(max-width:375px) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 375px;
      height: 865px;
    }
    div {
      background-color: $pinkBg;
      color: $grey;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      @media screen and(max-width: 375px) {
        border-radius: 0;
        height: 545px;
      }
      h1 {
        @include h1sectionT;
        color: $pink;
        @media screen and(max-width:375px) {
          width: 327px;
          height: 36px;
          text-align: center;
          margin-left: 24px;
          margin-top: 80px;
          margin-bottom: 24px;
        }
      }
      p {
        @include psectionT;
        @media screen and(max-width:375px) {
          width: 327px;
          height: 325px;
          text-align: center;
          margin-left: 24px;
        }
      }
      .section__skills__img {
        width: 476px;
        height: 640px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        @media screen and(max-width: 375px) {
          height: 320px;
          width: 375px;
          border-radius: 0;
        }
      }
    }
  }
  .section__location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 160px;
    font-family: $fontJ;
    color: $grey;
    width: 1110px;
    text-align: center;
    @media screen and(max-width: 375px) {
      height: 1188px;
      width: 350px;
    }
    img {
      margin: 0 auto 48px;
    }
    h2 {
      font-family: $fontJ;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 5px;
      color: $blackL;
      margin: 0 auto 32px;
      text-transform: uppercase;
    }
    a {
      max-width: 152px;
      max-height: 56px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: $fontJ;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      border-radius: 8px;
      margin-right: 96px;
      text-decoration: none;
      color: $white;
      margin: 0 auto 160px;
    }
    a:link,
    a:visited {
      padding: 18px 18.5px 16px;
      background-color: $pink;
    }
    a:hover {
      background-color: $peach;
    }
  }
  .section__solutions {
    @include containerB;
    @media screen and(max-width:375px) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
      height: 865px;
      width: 375px;
    }
    div {
      background-color: $pinkBg;
      color: $grey;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      @media screen and(max-width:375px) {
        height: 545px;
      }
      h1 {
        @include h1sectionT;
        color: $pink;
        @media screen and(max-width:375px) {
          width: 327px;
          height: 36px;
          text-align: center;
          margin-left: 24px;
          margin-top: 80px;
          margin-bottom: 24px;
        }
      }
      p {
        @include psectionT;
        @media screen and(max-width:375px) {
          width: 327px;
          height: 300px;
          text-align: center;
          margin-left: 24px;
        }
      }
      .solutions__img {
        width: 476px;
        height: 640px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        @media screen and(max-width: 375px) {
          height: 320px;
          width: 375px;
        }
      }
    }
  }
}
