//   header {
//   }
header{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    margin-left: 165px;
    margin-right: 122px;
    margin-bottom: 65px;
    img{
        max-width:152.32px;
        max-height:20.54px;
        align-self: center;
    }
    nav{
        li{
            display: inline-block;
            
            a{
                padding-right: 42px;
                text-decoration: none;
                color:$black;
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 2px;
                
            }
        }
    }
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  margin: auto;

  //   main {
  //   }

  footer {
    position: relative;
    z-index: auto;
    .section__contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $white;
      background-image: url("../img/Oval.png");
      background-repeat: no-repeat;
      width: 1111px;
      height: 292px;
      margin-left: 165px;
      margin-right: 164px;
      margin-bottom: -170px;
      position: relative;
      z-index: 1;

      div{
        margin-left: 95px;
        
        h1{
          max-width: 268px;
          max-height: 98px;
          font-family: 'Jost';
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 40px;
        }
        p{
          max-width: 459px;
          max-height: 78px;
          font-family: 'Jost';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 46px;
        }
      }
      a{
        max-width: 152px;
        max-height: 56px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        border-radius: 8px;
        margin-right: 96px;
        text-decoration: none;
        color: $black;
      }     
      a:link, a:visited{
        padding: 17px 19px 17px 18px;
        background-color: $white;
      }
      //   h1 {
      //   }
    }
    .nav__background {
      background-color: $black;
      height: 393px;
      padding-top: 144px;
      .footer__nav {
        div {
          display: flex;
          justify-content: space-between;
          .footer__nav__img {
            height: 27px;
            width: 197px;
            margin-left: 165px;
            margin-top: 144px;
          }
          ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            gap: 42px;
            margin-right: 166px;
            margin-top: 151px;
            margin-bottom: 40px;
            li {
              a {
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
                font-family: $fontJ;
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 2px;
              }
            }
          }
        }
      }
      hr {
        width: 1111px;
        margin: auto;
        opacity: 0.1;
      }
      .section__info {
        display: flex;
        margin-left: 165px;
        margin-top: 31px;
        color: $white;
        opacity: 0.5;
        font-family: $fontJ;
        font-size: 16px;
        line-height: 26px;
        .info__address {
          padding-right: 30px;
          @include info;
          margin-bottom: 72px;
          h3 {
            font-weight: 700;
          }
          p {
            font-weight: 400;
          }
        }
        .section__contact {
          @include info;
        }
      }
      .section__media {
        display: flex;
        justify-content: right;
        ul {
          list-style: none;
          display: flex;
          gap: 16px;
          color: $pink;
          width: 136px;
          height: 24px;
          margin-right: 164px;
          margin-bottom: 72px;
        }
      }
    }
  }
}
