body{
    width: 1440px;
    .section__location__belgium{
        display: flex; 
        .box{
            background-image: url();
        }
    }
    .section__location__australia{
        display: flex;
    }
    .section__location__uk{
        display: flex;
    }
}