.section__location__belgium {
  @include containerLA;
  margin-top: 64px;

  .box {
    @include lowcontainer;
    h2 {
      @include lowcontainerH;
    }

    .box__txt {
      @include lowcontainerHT;
      div {
        @include lowcontainerHTD;
        h3 {
          @include lowcontainerHTDH;
        }
        p {
          @include lowcontainerHTDP;
        }
      }
    }
    img {
      height: 326px;
      width: 350px;
    }
  }
}

.section__location__australia {
  @include containerLA;

  .box {
    @include lowcontainer;
    h2 {
      @include lowcontainerH;
    }

    .box__txt {
      @include lowcontainerHT;
      div {
        @include lowcontainerHTD;
        h3 {
          @include lowcontainerHTDH;
        }
        p {
          @include lowcontainerHTDP;
        }
      }
    }
    img {
      height: 326px;
      width: 350px;
    }
  }
}

.section__location__uk {
  @include containerLB;

  .box {
    @include lowcontainer;
    h2 {
      @include lowcontainerH;
    }

    .box__txt {
      @include lowcontainerHT;
      div {
        @include lowcontainerHTD;
        h3 {
          @include lowcontainerHTDH;
        }
        p {
          @include lowcontainerHTDP;
        }
      }
    }
    img {
      height: 326px;
      width: 350px;
    }
  }
}
