$black: rgba(29, 28, 30, 1);
$white: rgba(255, 255, 255, 1);
$pink: rgba(231, 129, 107, 1);
$grey: rgba(51, 49, 54, 1);

$fontJ: "Jost", sans-serif;

@mixin info {
  width: 350px;
  height: 78px;
}

@mixin projectsT {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin projectsH {
  font-family: $fontJ;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@mixin projectsA {
  font-family: $fontJ;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
}

@mixin locations {
  .section__values {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .values__passion {
      font-size: small;
      text-align: center;
      width: 30%;
    }
    .values__resourceful {
      @extend .values__passion;
    }
    .values__friendly {
      @extend .values__passion;
    }
  }
}
