.section__solutions__design {
  color: $white;
  width: 1111px;
  height: 252px;
  background-image: url("../img/Oval.png");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 160px;
  display: flex;
  align-items: center;
  div {
    margin-left: 190px;
    margin-right: 191px;
    h2 {
      height: 48px;
      font-family: $fontJ;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 24px;
      text-align: center;
    }
    p {
      height: 52px;
      width: 730px;
      font-family: $fontJ;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
    }
  }
}
.section__tech {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto 192px;
  width: 1110px;
  height: 988px;
  .tech__div {
    width: 350px;
    height: 478px;
    text-align: center;
    background-color: $pinkBg;
    border-radius: 15px;
    h2 {
      margin-top: 30px;
      margin-bottom: 16px;
      color: $pink;
      font-family: $fontJ;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
    }
    p {
      margin: 0 auto;
      width: 286px;
      font-family: $fontJ;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }
  }
}
