/* mixin index*/
/*mixin aboutUs*/
/* mixin locations*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jost";
  max-width: 1440px;
  max-height: 2940px;
  margin: auto;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1111px;
  margin: 65px auto;
  text-transform: uppercase;
}
body header img {
  max-width: 197px;
  max-height: 27px;
  -ms-flex-item-align: center;
      align-self: center;
}
body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}
body header nav ul li {
  display: inline-block;
}
body header nav ul li a {
  text-decoration: none;
  color: rgb(29, 28, 30);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
}
body header nav ul li a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: rgb(51, 49, 54);
          text-decoration-color: rgb(51, 49, 54);
}
body main {
  position: relative;
}
body main .section__rectangle {
  position: absolute;
  z-index: -1;
  margin-top: 350px;
}
body main .section__rectangle__upsidedown {
  position: absolute;
  z-index: -1;
  margin-top: 1700px;
  margin-left: 440px;
}
body main .section__services {
  background-color: rgb(231, 129, 107);
  background-image: url("../img/rond2.png");
  background-repeat: no-repeat;
  background-size: 610px 640px;
  background-position: right;
  height: 640px;
  width: 1111px;
  margin: 0 auto 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .section__services article {
  position: relative;
}
body main .section__services article div {
  width: 540px;
  margin: 0 476px 95px 145px;
  text-align: left;
}
body main .section__services article div h1 {
  color: rgb(255, 255, 255);
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 11px;
  padding-bottom: 10px;
}
body main .section__services article div p {
  margin-bottom: 58px;
  width: 445px;
  color: rgb(255, 255, 255);
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
body main .section__services article div a {
  max-width: 152px;
  max-height: 56px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(29, 28, 30);
  margin: 0 auto 160px;
}
body main .section__services article div a:link,
body main .section__services article div a:visited {
  padding: 18px 25px 16px 24px;
  background-color: rgb(255, 255, 255);
}
body main .section__services article div a:hover {
  background-color: rgb(255, 173, 155);
  color: rgb(255, 255, 255);
}
body main .section__services article .services__img {
  height: 489.25px;
  width: 267.31px;
  position: absolute;
  top: 67.85%;
  left: 78%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body main .section__projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b" "a c";
  gap: 24px 30px;
  margin: 0 auto 160px;
  width: 1111px;
}
body main .section__projects .projects__web {
  grid-area: a;
  background-color: rgb(231, 129, 107);
  height: 640px;
  border-radius: 15px;
}
body main .section__projects .projects__web a {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
body main .section__projects .projects__web a .projects__web__img {
  position: relative;
}
body main .section__projects .projects__web a .projects__web__img .projects__web__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .section__projects .projects__web a .projects__web__img .projects__web__text h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 24px;
}
body main .section__projects .projects__web a:hover img {
  opacity: 0.5;
}
body main .section__projects .projects__app {
  grid-area: b;
  background-color: rgb(231, 129, 107);
  border-radius: 15px;
}
body main .section__projects .projects__app a {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
body main .section__projects .projects__app a .projects__app__img {
  position: relative;
  width: 541px;
  height: 308px;
}
body main .section__projects .projects__app a .projects__app__img .projects__app__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .section__projects .projects__app a .projects__app__img .projects__app__text h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 24px;
}
body main .section__projects .projects__app a:hover img {
  opacity: 0.5;
}
body main .section__projects .projects__graphic {
  grid-area: c;
  background-color: rgb(231, 129, 107);
}
body main .section__projects .projects__graphic a {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
body main .section__projects .projects__graphic a .projects__graphic__img {
  opacity: 1;
  position: relative;
  width: 541px;
  height: 308px;
}
body main .section__projects .projects__graphic a .projects__graphic__img .projects__graphic__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .section__projects .projects__graphic a .projects__graphic__img .projects__graphic__text h1 {
  width: 400px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 24px;
}
body main .section__projects .projects__graphic a:hover img {
  opacity: 0.5;
}
body main .section__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 160px;
  font-family: "Jost", sans-serif;
  color: rgb(51, 49, 54);
  width: 1110px;
}
body main .section__values .values__passion, body main .section__values .values__friendly, body main .section__values .values__resourceful {
  font-size: small;
  text-align: center;
}
body main .section__values .values__passion img, body main .section__values .values__friendly img, body main .section__values .values__resourceful img {
  margin-bottom: 48px;
}
body main .section__values .values__passion h2, body main .section__values .values__friendly h2, body main .section__values .values__resourceful h2 {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-align: center;
  width: 350px;
  height: 26px;
}
body main .section__values .values__passion p, body main .section__values .values__friendly p, body main .section__values .values__resourceful p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 350px;
  height: 104px;
}
body footer {
  position: relative;
  z-index: auto;
  height: 393px;
}
body footer .section__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgb(255, 255, 255);
  background-image: url("../img/Oval.png");
  background-repeat: no-repeat;
  width: 1111px;
  height: 292px;
  margin: 0 auto -101px;
  position: relative;
  z-index: 1;
}
body footer .section__contact div {
  margin-left: 95px;
}
body footer .section__contact div h1 {
  max-width: 268px;
  max-height: 98px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
}
body footer .section__contact div p {
  max-width: 459px;
  max-height: 78px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 46px;
}
body footer .section__contact a {
  max-width: 152px;
  max-height: 56px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  border-radius: 8px;
  margin-right: 96px;
  text-decoration: none;
  color: rgb(29, 28, 30);
}
body footer .section__contact a:link,
body footer .section__contact a:visited {
  padding: 17px 19px 17px 18px;
  background-color: rgb(255, 255, 255);
}
body footer .section__contact a:hover {
  background-color: rgb(255, 173, 155);
  color: rgb(255, 255, 255);
}
body footer .lower__container {
  background-color: rgb(29, 28, 30);
}
body footer .lower__container .footer__nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body footer .lower__container .footer__nav div .footer__nav__img {
  height: 27px;
  width: 197px;
  margin-left: 165px;
  margin-top: 144px;
}
body footer .lower__container .footer__nav div ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 42px;
  margin-right: 166px;
  margin-top: 151px;
  margin-bottom: 40px;
}
body footer .lower__container .footer__nav div ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
}
body footer .lower__container .footer__nav div ul li a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: rgb(255, 255, 255);
          text-decoration-color: rgb(255, 255, 255);
}
body footer .lower__container hr {
  width: 1111px;
  margin: auto;
  opacity: 0.1;
}
body footer .lower__container .inline__lower__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
}
body footer .lower__container .inline__lower__container .section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 165px;
  margin-top: 31px;
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
body footer .lower__container .inline__lower__container .section__info .info__address {
  padding-right: 30px;
  width: 350px;
  height: 78px;
  margin-bottom: 72px;
}
body footer .lower__container .inline__lower__container .section__info .info__address h3 {
  font-weight: 700;
}
body footer .lower__container .inline__lower__container .section__info .info__address p {
  font-weight: 400;
}
body footer .lower__container .inline__lower__container .section__info .section__info {
  width: 350px;
  height: 78px;
}
body footer .lower__container .inline__lower__container .section__media {
  margin-top: 85px;
  margin-right: 164px;
  margin-bottom: 72px;
}
body footer .lower__container .inline__lower__container .section__media ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  color: rgb(231, 129, 107);
}
body footer .lower__container .inline__lower__container .section__media ul li i {
  font-size: 24px;
}
body footer .lower__container .inline__lower__container .section__media ul li i:hover {
  color: rgb(255, 173, 155);
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
    margin: auto;
  }
  body header {
    width: 375px;
    margin: 35px 24px 37px;
  }
  body header nav {
    width: 327px;
  }
  body header nav ul {
    display: none;
  }
  body main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .section__rectangle {
    display: none;
  }
  body main .section__rectangle__upsidedown {
    display: none;
  }
  body main .section__services {
    width: 375px;
    height: 843px;
    margin: 0 auto 120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body main .section__services article div {
    width: 327px;
    margin: 80px 24px;
    text-align: center;
  }
  body main .section__services article div h1 {
    font-size: 32px;
    line-height: 36px;
  }
  body main .section__services article div p {
    width: 327px;
    font-size: 15px;
    line-height: 25px;
  }
  body main .section__services .services__img {
    display: none;
  }
  body main .section__projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 327px;
    height: 798px;
    gap: 24px;
    text-align: center;
  }
  body main .section__projects .projects__web {
    height: 250px;
  }
  body main .section__projects .projects__web a .projects__web__img img {
    width: 327px;
    height: 250px;
  }
  body main .section__projects .projects__web a .projects__web__img .projects__web__text h1 {
    width: 215px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.4px;
  }
  body main .section__projects .projects__web a .projects__web__img .projects__web__text p img {
    width: 4px;
    height: 8px;
  }
  body main .section__projects .projects__app {
    height: 250px;
  }
  body main .section__projects .projects__app a .projects__app__img {
    width: 327px;
    height: 250px;
    text-align: center;
  }
  body main .section__projects .projects__app a .projects__app__img img {
    width: 327px;
    height: 250px;
  }
  body main .section__projects .projects__app a .projects__app__img .projects__app__text h1 {
    width: 215px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.4px;
  }
  body main .section__projects .projects__app a .projects__app__img .projects__app__text p img {
    width: 4px;
    height: 8px;
  }
  body main .section__projects .projects__graphic {
    height: 250px;
    margin-bottom: 120px;
  }
  body main .section__projects .projects__graphic a .projects__graphic__img {
    width: 327px;
    height: 250px;
    text-align: center;
  }
  body main .section__projects .projects__graphic a .projects__graphic__img img {
    width: 327px;
    height: 250px;
  }
  body main .section__projects .projects__graphic a .projects__graphic__img .projects__graphic__text h1 {
    width: 255px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1.4px;
  }
  body main .section__projects .projects__graphic a .projects__graphic__img .projects__graphic__text p img {
    width: 4px;
    height: 8px;
  }
  body main .section__values {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 327px;
    height: 1396px;
    margin: 0 24px 80px;
  }
  body main .section__values .values__passion p, body main .section__values .values__resourceful p, body main .section__values .values__friendly p {
    width: 327px;
    height: 104px;
    text-align: none;
  }
  body footer {
    margin-top: 41px;
    height: 1005px;
  }
  body footer .section__contact {
    width: 327px;
    height: 379px;
    margin: 0 auto -190px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-size: 327px 379px;
    border-radius: 15px;
  }
  body footer .section__contact div {
    margin: 0;
  }
  body footer .section__contact h1 {
    width: 279px;
    height: 82px;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin-top: 64px;
  }
  body footer .section__contact p {
    margin-top: 6px;
    width: 279px;
    height: 75px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 32px;
  }
  body footer a {
    margin: 0 auto;
  }
  body footer .lower__container {
    height: 815px;
  }
  body footer .lower__container .footer__nav div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .lower__container .footer__nav div .footer__nav__img {
    margin-left: 87px;
    margin-right: 91px;
    margin-top: 253px;
  }
  body footer .lower__container .footer__nav div ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 32px auto 40px;
    gap: 32px;
  }
  body footer .lower__container hr {
    width: 327px;
  }
  body footer .lower__container .inline__lower__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .lower__container .inline__lower__container .section__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 40px auto;
    width: 327px;
  }
  body footer .lower__container .inline__lower__container .section__info .info__address {
    padding: 0;
    margin-bottom: 40px;
  }
  body footer .lower__container .inline__lower__container .section__media {
    margin: 0 95px 64px;
  }
}
.section__solutions__design {
  color: rgb(255, 255, 255);
  width: 1111px;
  height: 252px;
  background-image: url("../img/Oval.png");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 375px) {
  .section__solutions__design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section__solutions__design div {
  margin-left: 190px;
  margin-right: 191px;
}
.section__solutions__design div h2 {
  height: 48px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 24px;
  text-align: center;
}
.section__solutions__design div p {
  height: 52px;
  width: 730px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.section__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto 192px;
  width: 1110px;
  height: 988px;
}
@media (max-width: 375px) {
  .section__tech {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section__tech .tech__div {
  width: 350px;
  height: 478px;
  text-align: center;
  background-color: rgb(253, 243, 240);
  border-radius: 15px;
}
.section__tech .tech__div h2 {
  margin-top: 30px;
  margin-bottom: 16px;
  color: rgb(231, 129, 107);
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.section__tech .tech__div p {
  margin: 0 auto;
  width: 286px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.section__tech .tech__div:hover {
  background-color: rgb(231, 129, 107);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.section__tech .tech__div:hover h2 {
  color: rgb(255, 255, 255);
}

.projects__graphic__design {
  background-color: rgb(231, 129, 107);
  border-radius: 15px;
  width: 541px;
  height: 308px;
}
@media (max-width: 375px) {
  .projects__graphic__design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.projects__graphic__design a {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.projects__graphic__design a .projects__graphic__design__img {
  position: relative;
  width: 541px;
  height: 308px;
}
.projects__graphic__design a .projects__graphic__design__img .projects__graphic__design__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__graphic__design a .projects__graphic__design__img .projects__graphic__design__text h1 {
  width: 400px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 24px;
}
.projects__graphic__design a:hover img {
  opacity: 0.5;
}

.projects__app__design {
  background-color: rgb(231, 129, 107);
  border-radius: 15px;
  width: 541px;
  height: 308px;
}
.projects__app__design a .projects__app__design__img {
  position: relative;
  width: 541px;
  height: 308px;
}
.projects__app__design a .projects__app__design__img .projects__app__design__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__app__design a .projects__app__design__img .projects__app__design__text h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 24px;
}
.projects__app__design a .projects__app__design__img .projects__app__design__text p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.projects__app__design a:hover img {
  opacity: 0.5;
}

.projects__web__design {
  background-color: rgb(231, 129, 107);
  border-radius: 15px;
  width: 541px;
  height: 308px;
}
.projects__web__design a {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.projects__web__design a .projects__web__design__img {
  position: relative;
}
.projects__web__design a .projects__web__design__img .web {
  width: 541px;
  height: 308px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.projects__web__design a .projects__web__design__img .projects__web__design__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__web__design a .projects__web__design__img .projects__web__design__text h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 24px;
}
.projects__web__design a:hover img {
  opacity: 0.5;
}

@media (max-width: 375px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  body header nav {
    display: none;
  }
  body main .section__solutions__design h2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .section__tech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  body main .section__projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
body {
  width: 1440px;
}
body .section__aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 160px;
  width: 1111px;
  height: 480px;
}
body .section__aboutUs div {
  background-color: rgb(231, 129, 107);
  background-image: url("../img/rond.png");
  background-repeat: no-repeat;
  background-size: 635px 480px;
  color: rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
body .section__aboutUs div h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin-left: 95px;
  margin-right: 95px;
  margin-top: 154px;
  margin-bottom: 24px;
  width: 445px;
}
body .section__aboutUs div p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 445px;
  margin: auto;
}
body .section__aboutUs div .solutions__img {
  width: 476px;
  height: 480px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
body .section__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 160px;
  width: 1111px;
  height: 640px;
}
body .section__skills div {
  background-color: rgb(253, 243, 240);
  color: rgb(51, 49, 54);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
body .section__skills div h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin-left: 95px;
  margin-right: 95px;
  margin-top: 154px;
  margin-bottom: 24px;
  width: 445px;
  color: rgb(231, 129, 107);
}
body .section__skills div p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 445px;
  margin: auto;
}
body .section__skills div .solutions__img {
  width: 476px;
  height: 640px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
body .section__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 160px;
  font-family: "Jost", sans-serif;
  color: rgb(51, 49, 54);
  width: 1110px;
  text-align: center;
}
body .section__location img {
  margin: 0 auto 48px;
}
body .section__location h2 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  color: rgb(51, 49, 54);
  margin: 0 auto 32px;
  text-transform: uppercase;
}
body .section__location a {
  max-width: 152px;
  max-height: 56px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  border-radius: 8px;
  margin-right: 96px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 auto 160px;
}
body .section__location a:link,
body .section__location a:visited {
  padding: 18px 18.5px 16px;
  background-color: rgb(231, 129, 107);
}
body .section__location a:hover {
  background-color: rgb(255, 173, 155);
}
body .section__solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 160px;
  width: 1111px;
  height: 640px;
}
body .section__solutions div {
  background-color: rgb(253, 243, 240);
  color: rgb(51, 49, 54);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
body .section__solutions div h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin-left: 95px;
  margin-right: 95px;
  margin-top: 154px;
  margin-bottom: 24px;
  width: 445px;
  color: rgb(231, 129, 107);
}
body .section__solutions div p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 445px;
  margin: auto;
}
body .section__solutions div .solutions__img {
  width: 476px;
  height: 640px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.section__location__belgium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 32px;
  gap: 30px;
  margin-top: 64px;
}
.section__location__belgium .box {
  background-color: rgb(253, 243, 240);
  height: 326px;
  width: 730px;
  border-radius: 20px;
}
.section__location__belgium .box h2 {
  color: rgb(231, 129, 107);
  margin-bottom: 24px;
  margin-top: 88px;
  margin-left: 95px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.section__location__belgium .box .box__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: 95px;
}
.section__location__belgium .box .box__txt div {
  height: 78px;
  width: 255px;
  color: rgb(51, 49, 54);
}
.section__location__belgium .box .box__txt div h3 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
.section__location__belgium .box .box__txt div p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.section__location__belgium .box img {
  height: 326px;
  width: 350px;
}

.section__location__australia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 32px;
  gap: 30px;
}
.section__location__australia .box {
  background-color: rgb(253, 243, 240);
  height: 326px;
  width: 730px;
  border-radius: 20px;
}
.section__location__australia .box h2 {
  color: rgb(231, 129, 107);
  margin-bottom: 24px;
  margin-top: 88px;
  margin-left: 95px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.section__location__australia .box .box__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: 95px;
}
.section__location__australia .box .box__txt div {
  height: 78px;
  width: 255px;
  color: rgb(51, 49, 54);
}
.section__location__australia .box .box__txt div h3 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
.section__location__australia .box .box__txt div p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.section__location__australia .box img {
  height: 326px;
  width: 350px;
}

.section__location__uk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 160px;
  gap: 30px;
}
.section__location__uk .box {
  background-color: rgb(253, 243, 240);
  height: 326px;
  width: 730px;
  border-radius: 20px;
}
.section__location__uk .box h2 {
  color: rgb(231, 129, 107);
  margin-bottom: 24px;
  margin-top: 88px;
  margin-left: 95px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.section__location__uk .box .box__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: 95px;
}
.section__location__uk .box .box__txt div {
  height: 78px;
  width: 255px;
  color: rgb(51, 49, 54);
}
.section__location__uk .box .box__txt div h3 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
.section__location__uk .box .box__txt div p {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.section__location__uk .box img {
  height: 326px;
  width: 350px;
}

.section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(231, 129, 107);
  background-image: url("../img/rond.png");
  background-repeat: no-repeat;
  background-size: 660px 520px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  width: 1111px;
  height: 480px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 0 auto 160px;
}
.section__form div h2 {
  width: 540px;
  height: 48px;
  padding-left: 95px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  margin-top: 135px;
}
.section__form div p {
  width: 445px;
  height: 104px;
  margin-bottom: 161px;
  margin-left: 95px;
  margin-right: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.section__form form label {
  opacity: 0.5;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
}
.section__form form label:hover {
  opacity: 1;
}

input {
  width: 380px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}
input:focus {
  outline: none;
}

textarea {
  width: 380px;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  resize: none;
  color: rgb(255, 255, 255);
}
textarea:focus {
  outline: none;
}

button {
  padding: 17px 47px 17px 48px;
  margin-left: 228px;
  margin-right: 96px;
  margin-top: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
}

button:hover {
  background-color: rgb(255, 173, 155);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.footer__contact {
  height: 321px;
}

@media (max-width: 375px) {
  body {
    height: 1732px;
  }
  body .section__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 375px;
    height: 764px;
    border-radius: 0px;
    padding: 0;
    margin-bottom: 192px;
  }
  body .section__form div {
    text-align: center;
  }
  body .section__form h2 {
    width: 327px;
    height: 36px;
    margin-top: 72px;
  }
  body .section__form p {
    width: 327px;
    height: 125px;
    margin-bottom: 60px;
  }
  body .section__form form {
    width: 327px;
    height: 338px;
  }
  body .section__form form input {
    width: 327px;
  }
  body .section__form form textarea {
    width: 327px;
  }
  body .section__form form button {
    width: 152px;
    height: 56px;
    margin: 24px 0px 0px 0px;
  }
  body .section__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 375px;
    height: 1188px;
  }
}/*# sourceMappingURL=style.css.map */