* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  max-height: 2940px;
  margin: auto;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
  margin-left: 165px;
  margin-right: 122px;
  margin-bottom: 65px;
}
body header img {
  max-width: 197px;
  max-height: 27px;
  -ms-flex-item-align: center;
      align-self: center;
}
body header nav li {
  display: inline-block;
}
body header nav li a {
  padding-right: 42px;
  text-decoration: none;
  color: rgb(29, 28, 30);
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
}
body main .section__projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b" "a c";
  gap: 24px 30px;
  margin: 0 auto 160px;
  width: 1082px;
}
body main .section__projects .projects__web {
  grid-area: a;
}
body main .section__projects .projects__web .projects__web__img {
  position: relative;
}
body main .section__projects .projects__web .projects__web__img .projects__web__text {
  position: absolute;
  top: 0;
  left: 0;
}
body main .section__projects .projects__web .projects__web__img .projects__web__text h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}
body main .section__projects .projects__app {
  grid-area: b;
}
body main .section__projects .projects__app .projects__app__img {
  position: relative;
}
body main .section__projects .projects__app .projects__app__img .projects__app__text {
  position: absolute;
  top: 0;
  left: 0;
}
body main .section__projects .projects__app .projects__app__img .projects__app__text h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}
body main .section__projects .projects__graphic {
  grid-area: c;
}
body main .section__projects .projects__graphic .projects__graphic__img {
  position: relative;
}
body main .section__projects .projects__graphic .projects__graphic__img .projects__graphic__text {
  position: absolute;
  top: 0;
  left: 0;
}
body main .section__projects .projects__graphic .projects__graphic__img .projects__graphic__text h1 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}
body main .section__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 160px;
  font-family: "Jost", sans-serif;
  color: rgb(51, 49, 54);
  width: 1110px;
}
body main .section__values .values__passion, body main .section__values .values__friendly, body main .section__values .values__resourceful {
  font-size: small;
  text-align: center;
}
body main .section__values .values__passion img, body main .section__values .values__friendly img, body main .section__values .values__resourceful img {
  margin-bottom: 48px;
}
body main .section__values .values__passion h2, body main .section__values .values__friendly h2, body main .section__values .values__resourceful h2 {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-align: center;
  width: 350px;
  height: 26px;
}
body main .section__values .values__passion p, body main .section__values .values__friendly p, body main .section__values .values__resourceful p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 350px;
  height: 104px;
}
body footer {
  position: relative;
  z-index: auto;
  height: 393px;
}
body footer .section__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgb(255, 255, 255);
  background-image: url("../img/Oval.png");
  background-repeat: no-repeat;
  width: 1111px;
  height: 292px;
  margin: 0 auto -101px;
  position: relative;
  z-index: 1;
}
body footer .section__contact div {
  margin-left: 95px;
}
body footer .section__contact div h1 {
  max-width: 268px;
  max-height: 98px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
}
body footer .section__contact div p {
  max-width: 459px;
  max-height: 78px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 46px;
}
body footer .section__contact a {
  max-width: 152px;
  max-height: 56px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  border-radius: 8px;
  margin-right: 96px;
  text-decoration: none;
  color: rgb(29, 28, 30);
}
body footer .section__contact a:link,
body footer .section__contact a:visited {
  padding: 17px 19px 17px 18px;
  background-color: rgb(255, 255, 255);
}
body footer .lower__container {
  background-color: rgb(29, 28, 30);
}
body footer .lower__container .footer__nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body footer .lower__container .footer__nav div .footer__nav__img {
  height: 27px;
  width: 197px;
  margin-left: 165px;
  margin-top: 144px;
}
body footer .lower__container .footer__nav div ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 42px;
  margin-right: 166px;
  margin-top: 151px;
  margin-bottom: 40px;
}
body footer .lower__container .footer__nav div ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
}
body footer .lower__container hr {
  width: 1111px;
  margin: auto;
  opacity: 0.1;
}
body footer .lower__container .inline__lower__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
}
body footer .lower__container .inline__lower__container .section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 165px;
  margin-top: 31px;
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
body footer .lower__container .inline__lower__container .section__info .info__address {
  padding-right: 30px;
  width: 350px;
  height: 78px;
  margin-bottom: 72px;
}
body footer .lower__container .inline__lower__container .section__info .info__address h3 {
  font-weight: 700;
}
body footer .lower__container .inline__lower__container .section__info .info__address p {
  font-weight: 400;
}
body footer .lower__container .inline__lower__container .section__info .section__contact {
  width: 350px;
  height: 78px;
}
body footer .lower__container .inline__lower__container .section__media {
  margin-top: 85px;
  margin-right: 164px;
  margin-bottom: 72px;
}
body footer .lower__container .inline__lower__container .section__media ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  color: rgb(231, 129, 107);
}
body footer .lower__container .inline__lower__container .section__media ul li i {
  font-size: 24px;
}/*# sourceMappingURL=style.css.map */